{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "overrides": [
    {
      "env": {
        "browser": true,
        "es2024": true
      },
      "files": [
        "./resources/**/*.tsx",
        "./resources/**/*.js",
        "./resources/**/*.jsx",
        "./resources/**/*.ts"
      ],
      "extends": [
        "plugin:prettier/recommended",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "plugin:react-hooks/recommended",
        "plugin:jsx-a11y/recommended"
      ],
      "plugins": [
        "@typescript-eslint",
        "unicorn",
        "@stylistic/ts"
      ],
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "rules": {
        "react/no-children-prop": "off"
      }
    },
    {
      "env": {
        "es2024": true,
        "node": true
      },
      "files": [
        "**/*.js",
        "**/*.ts",
        "**/*.jsx",
        "**/*.tsx"
      ],
      "excludedFiles": [
        "./resources/**/*.tsx",
        "./resources/**/*.js",
        "./resources/**/*.jsx",
        "./resources/**/*.ts",
        "./public/assets/**/*.js"
      ],
      "extends": [
        "@adonisjs/eslint-config/app"
      ]
    }
  ]
}
