@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 8 7 23;
    --background: 244 244 251;
    --primary: 0 0 255;
    --secondary: 88 4 38;
    --accent: 77 14 0;
  }
  .dark {
    --text: 233 232 248;
    --background: 4 4 11;
    --primary: 0 0 255;
    --secondary: 251 167 201;
    --accent: 255 193 179;
  }
}
